<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Belajar Tailwind CSS</title>
    <link rel="stylesheet" href="../css/output.css" />
  </head>
  <body class="p-8">
    <section class="mb-5">
      <h1 class="font-bold text-2xl text-blue-900">
        3 - Instalasi & Konfigurasi
      </h1>

      <div class="my-4">
        <a
          href=""
          class="bg-gray-800 text-white py-2.5 px-6 rounded-xl focus:ring focus:ring-gray-400 transition duration-300 outline-none"
          >Button</a
        >
      </div>

      <p class="rounded-xl bg-gray-800 text-white py-5 px-3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus,
        mollitia nisi. Officiis, perferendis quas delectus mollitia, aliquam
        praesentium quis porro ea inventore laudantium corporis saepe quidem
        esse nihil illo. Voluptatibus?
      </p>
    </section>

    <section class="mb-5">
      <h1 class="font-bold text-2xl text-blue-900">4 - Basic Utility</h1>
      <h3 class="font-semibold text-lg">
        Spacing & Sizing - Typography - Colors
      </h3>
    </section>
  </body>
</html>
