<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Belajar Tailwind CSS</title>
    <link
      rel="icon"
      href="../images/favicon.png"
      type="image/gif"
      sizes="16x16"
    />
    <link rel="stylesheet" href="../css/output.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div
      class="container max-w-md px-5 mx-auto my-6 sm:px-0 sm:max-w-xl font-poppins md:max-w-6xl sm:mt-10"
    >
      <a
        href="index.html"
        class="px-6 py-2.5 bg-slate-800 text-white rounded-lg"
        >⬅️ Back Home</a
      >
    </div>

    <div
      class="container max-w-md px-5 mx-auto my-6 sm:px-0 sm:max-w-xl font-poppins md:max-w-6xl sm:mt-10"
    >
      <h3 class="text-3xl font-bold sm:text-4xl text-slate-800">
        San<span class="text-sky-600">dhika</span> Galih
      </h3>
      <img
        src="https://source.unsplash.com/1280x960?programming+code"
        alt="laptop"
        class="mt-4 shadow-lg rounded-xl sm:mt-6 sm:h-64 sm:w-full sm:object-cover sm:object-center md:h-80"
      />
      <h2
        class="mt-6 text-2xl font-semibold sm:mt-8 sm:text-3xl text-slate-800"
      >
        Mari Belajar Programming Bersama WPU
      </h2>
      <p class="text-slate-600 sm:mt-4 sm:text-lg">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur
        dignissimos ipsum minima impedit sunt atque, asperiores fuga ea ut
        expedita minus animi modi praesentium unde esse. Illum aut
        necessitatibus dolores voluptates!
      </p>
      <div class="mt-6">
        <a
          href=""
          class="px-6 py-2.5 bg-red-700 rounded-lg text-white uppercase font-medium text-sm tracking-wider mb-6"
          >Subscribe Channel Youtube</a
        >
      </div>
    </div>
  </body>
</html>
